<header>
  <% if user_signed_in? %>
  　<!-- ユーザーログイン時 -->
  <li>
   <%= link_to "マイページ", user_path(current_user.id) %>
  </li>
  
  <li>
   <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </li>
    
  <li>
   <%=link_to "インデックス", users_path %>
  </li>

  <% elsif admin_signed_in? %>
    <!-- 管理者ログイン時 -->
    <li>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
    </li>

  <% else %>
    <!-- ログインしていない時  -->
    <li>
      <%= link_to "ホーム", root_path %>
    </li>
    <li>
      <%= link_to "新規登録", new_user_registration_path %>
    </li>
    <li>
      <%= link_to "ログイン", new_user_session_path %>
    </li>
  <% end %>

</header>